@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
section {
  padding: 100px 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo-container {
  width: 150px;
}
.section-title {
  font-size: 2.3rem;
  line-height: 1.5rem !important;
  padding-bottom: 30px;
  position: relative;
}
.border-color-white:after {
  border-color: #fff !important;
}
.section-title:after {
  content: "";
  position: absolute;
  display: block;
  padding-bottom: 20px;
  border-bottom: 4px solid #0d6efd;
  left: 50%;
  width: 80px;
  transform: translateX(-50%);
}

.header {
  height: 15vh;
  border-bottom: 2px solid #f1f1f1;
}
.white-color:hover {
  color: #fff !important;
}
.link {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.active {
  border-bottom: 2px solid #0d6efd;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 100px;
}
footer .logo-footer {
  width: 70% !important;
}
.hero {
  background-color: #f1f1f1;
}
.hero .container .title .main-title {
  font-size: 3.5rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.illustration {
  background-image: url("../images/bg-visa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.programme-list .row {
  display: flex !important;
  flex-wrap: wrap !important;
}
.programme-list .row .visa-card {
  width: calc(96% / 4) !important;
  margin-right: 10px;
}
